{% style %}
    #shopify-section-{{ section.id }} {
        margin-top: {{ section.settings.top_margin }}rem;
        margin-bottom: {{ section.settings.bottom_margin }}rem;
        padding-top: {{ section.settings.top_padding }}rem;
        padding-bottom: {{ section.settings.bottom_padding }}rem;
    }
    #shopify-section-{{ section.id }} .cs-image-desktop {
      display: block;
    }
    #shopify-section-{{ section.id }} .cs-image-mobile {
      display: none;
    }
    @media screen and (max-width: 768px) {
      #shopify-section-{{ section.id }} {
          margin-top: {{ section.settings.top_margin | divided_by: 3 }}rem;
          margin-bottom: {{ section.settings.bottom_margin | divided_by: 3 }}rem;
          padding-top: {{ section.settings.top_padding | divided_by: 3 }}rem;
          padding-bottom: {{ section.settings.bottom_padding | divided_by: 3 }}rem;
      }      
      #shopify-section-{{ section.id }} .cs-image-desktop {
        display: none;
      }
      #shopify-section-{{ section.id }} .cs-image-mobile {
        display: block;
      }
    }
{% endstyle %}

<div class="cs-container">
  <div class="cs-grid">
    <div class="swiper mySwiper-{{ section.id }}">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="cs-block">
              {% if block.settings.image != blank %}
                  <div class="cs-image-desktop">
                    {% if block.settings.link != blank %}
                      <a href="{{ block.settings.link }}"{% if block.settings.new_tab %} target="_blank"{% endif %}>
                        {% if forloop.index == 1 %}
                          {{ block.settings.image | image_url: width: 1920 | image_tag: widths: '768, 1024, 1360', preload: true }}
                        {% else %}
                          {{ block.settings.image | image_url: width: 1920 | image_tag: widths: '768, 1024, 1360', loading: 'lazy' }}
                        {% endif %}
                      </a>
                      {% else %}
                        {% if forloop.index == 1 %}
                          {{ block.settings.image | image_url: width: 1920 | image_tag: widths: '768, 1024, 1360', preload: true }}
                        {% else %}
                          {{ block.settings.image | image_url: width: 1920 | image_tag: widths: '768, 1024, 1360', loading: 'lazy' }}
                        {% endif %}
                    {% endif %}
                  </div>
              {% endif %}
              {% if block.settings.image_mobile != blank %}
                <div class="cs-image-mobile">
                  {% if block.settings.link != blank %}
                    <a href="{{ block.settings.link }}"{% if block.settings.new_tab %} target="_blank"{% endif %}>                        
                      {% if forloop.index == 1 %}
                        {{ block.settings.image_mobile | image_url: width: 768 | image_tag: widths: '480, 540, 768', preload: true }}
                      {% else %}
                        {{ block.settings.image_mobile | image_url: width: 768 | image_tag: widths: '480, 540, 768', loading: 'lazy' }}
                      {% endif %}
                    </a>
                    {% else %}
                    {% if forloop.index == 1 %}
                      {{ block.settings.image_mobile | image_url: width: 768 | image_tag: widths: '480, 540, 768', preload: true }}
                    {% else %}
                      {{ block.settings.image_mobile | image_url: width: 768 | image_tag: widths: '480, 540, 768', loading: 'lazy' }}
                    {% endif %}
                  {% endif %}                      
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>     
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>  
    </div>
  </div>    
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    function bannerSlide() {
      var swiperBanner = new Swiper(".mySwiper-{{ section.id }}", {
        slidesPerView: 1,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        }
      })
    }

    function updateTabIndex() {
        // Reset all links to tabindex -1
        swiperBanner.slides.forEach(slide => {
          const link = slide.querySelector("a");
          if (link) link.setAttribute("tabindex", "-1");
        });

        // Set tabindex=0 only on active slide
        const activeSlide = swiperBanner.slides[swiperBanner.activeIndex];
        if (activeSlide) {
          const activeLink = activeSlide.querySelector("a");
          if (activeLink) activeLink.setAttribute("tabindex", "0");
        }
      }
    }

    bannerSlide()

    document.addEventListener("shopify:section:load", function(event) {
      bannerSlide()
    })
  })
</script>

{% schema %}
{
    "name": "Custom Banner Slider",
    "class": "cs-banner-slider",
    "settings": [     
      {
        "type": "header",
        "content": "Margins and Paddings"
      }, 
      {
        "type": "range",
        "id": "top_margin",
        "label": "Top Margin",
        "min": 0,
        "max": 100,
        "unit": "rem",
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "bottom_margin",
        "label": "Bottom Margin",
        "min": 0,
        "max": 100,
        "unit": "rem",
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "top_padding",
        "label": "Top Padding",
        "min": 0,
        "max": 100,
        "unit": "rem",
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "bottom_padding",
        "label": "Bottom Padding",
        "min": 0,
        "max": 100,
        "unit": "rem",
        "step": 1,
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [          
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image Desktop"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image Mobile",
            "info": "If this is empty, the image desktop will show in mobile."
          },
          {
            "type": "url",
            "id": "link",
            "label": "Image Link"
          },
          {
            "type": "checkbox",
            "id": "new_tab",
            "label": "Open link in new tab",
            "default": true
          }
        ]
      }      
    ],
    "presets": [
        {
            "name": "Custom Banner Slider"
        }
    ]
}
{% endschema %}